<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
</head>
<body>
    <!-- to access header file from common folder  -->
    <%- include('common/header') %>
    <h2>Welcome to login Page</h2>
    
</body>
</html>